body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .textsContainer {
    text-align: center;
  }
  
  .textsContainer p {
    color: red;
    display: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .inputContainer input {
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    margin-bottom: 30px;
    padding: 10px;
    width: 250px;
  }
  
  .inputContainer input:focus {
    outline: none;
  }
  
  .inputContainer button {
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    transition: 0.1s;
    width: 80px;
  }
  
  .inputContainer button:active {
    color: grey;
    opacity: 50%;
    height: 40px;
  }
  
  
  #taskList {
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 320px;
  }
  
  #taskList li {
    align-items: center;
    background-color: grey;
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-weight: bold;
    height: 25px;
    justify-content: space-between;
    margin-left: -40px;
    margin-bottom: 20px;
    padding: 10px;
    width: 340px;
  }
  
  .removeBtn {
    background-color: red;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: 25px;
  }
  
  .removeBtn:active {
    opacity: 50%;
  }